// COLORS
$c-medium-sea-green: #3db370;
$c-bright-gray: #efeef3;
$c-yankees-blue: #16133d;
$c-spanish-green: #0a9951;
$c-shadow-blue: #7690a8;
$c-lavender: #e5eaf4;
$c-smoky-black: #0d0d0d;
$c-white: #fff;
$c-black: #000;
// FONT-SIZE
$fs-base: 16;
//  TRANSITION
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
// BOX-SHADOW
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
