* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: $ff-base;
  font-size: $fs-base + px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
button {
  border-style: none;
}
.container {
  @include maxCentered(1110,20);
}



