// COLORS
$c-olive-drab-camouflage: #544837; 
$c-space-cadet: #173A56;
$c-pine-tree: #2F281E;
$c-beau-blue: #BCD0E5;
$c-gamboge: #FF9900;
$c-white: #fff;
$c-black: #000;

// Font Family
$ff-base: 'Poppins', sans-serif;

// Font Size
$fs-base: 16;