mixin about-me()
  .c-about-me#about-me 
    .container.c-about-me__wrapper
      h2.c-about-me__title About me
      .c-about-me__block 
        .c-about-me__description Hi, I'm Denis UX/UI designer from Minsk. <br/> I'm interested in design and everything connected with it.
        .c-about-me__description I'm Denis I'm studying at courses "Web and mobile design interfaces" in IT-Academy.
        .c-about-me__description Ready to implement excellent projects <br /> with wonderful people.