mixin banner() 
  .c-banner 
    .container.c-banner__wrapper 
      h1.c-banner__title Denis Novik
      .c-banner__image-box 
        img.c-banner__image(src="./assets/images/denis-novik.jpg", alt="Denis Novik")