mixin portfolio()
  .c-portfolio#portfolio
    .container.c-portfolio__wrapper 
      h2.c-portfolio__title Portfolio
      .c-portfolio__projects 
        +project({text: 'Online fashion store - Homepage', src: './assets/images/portfolio-1.jpg'})
        +project({text: 'Reebok Store - Concept', src: './assets/images/portfolio-2.jpg'})
        +project({text: 'Braun Landing Page - Concept', src: './assets/images/portfolio-3.jpg'})