mixin services 
  .c-services
    .container.c-services__wrapper
      .c-services__subtitle OUR SERVICES
      h1.c-services__title We build experience
      .c-services__cards
        +card('icon-Design','Design','Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros.', 'Learn more')
        +card('icon-Ecommerce','Ecommerce','Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros.', 'Learn more')
        +card('icon-Application','Application','Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros.', 'Learn more')