:root {
  --c-black: #000;
  --card-color: #E6E6E6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--c-black);
}
.line {
  border: 1px solid #BFBFBF;
}
.mw-page {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1860px;
}
/* Header */
.header {
  top:0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.text-box {
  width: 100%;
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  max-width: 350px;
  line-height: 23px;
  justify-content: space-between;
}
.black-white-text {
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--c-black);
}
.text-hashtag {
  padding: 0 5px;
}
.logo {
  max-width: 245px;
  max-height: 55px;
}
/* Cards */
.content-title {
  margin-top: 150px;
}
.title {
  display: flex;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  font-weight: normal;
}
.title::before {
  content: "";
  width: 70px;
  height: 12px;
  display: inline;
  margin-right: 30px;
  background-color: var(--c-black);
}
.box-cards {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}
.card-item {
  width: 440px;
  height: 280px;
  margin: 0 15px;
  perspective: 1000px;
  perspective-origin: 50%150%;
}
.card-item:first-child {
  margin-left: 10px;
}
.card-item:last-child {
  margin-right: 10px;
}
.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-color: var(--card-color);
}
.card-icon {
  backface-visibility: hidden;
}
.card-face {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}
.card-backface {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(-180deg);
}
.card-item:hover .card-content {
  transform: rotateX(-180deg);
  background-color: var(--c-black);
  transition: .6s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  padding: 20px 0;
  font-weight: 700;
  text-align: center;
  background-color: var(--card-color);
}
