// .container
@mixin maxCentered($widthPx, $paddPX) {
  max-width: pagePadding($widthPx, $paddPX) + px;
  padding: 0 $paddPX + px;
  margin: 0 auto;
}
@function pagePadding($widthPX, $paddPx) {
  @return $widthPX + $paddPx + $paddPx;
}
@function em($px) {
  @return $px / $fs-base + em;
}