mixin footer 
  footer.c-footer 
    .container.c-footer__wrapper 
      +logo('icon-Logo2')(class= 'c-logo__text--white')
      .c-footer__links 
        +social-link('','icon-google-drive')
        +social-link('','icon-instagram')
        +social-link('','icon-blogger')
        +social-link('','icon-yahoo')
        +social-link('','icon-twitter')