mixin design()
  .c-design   
    .container.c-design__wrapper
      .c-design__text-block
        .c-design__subject Effortless Validation for
        h2.c-design__title Design Professionals
        .c-design__description The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
        h3.c-design__subtitle Accessory makers
        .c-design__description While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun.
        h3.c-design__subtitle Alterationists
        .c-design__description If you are looking for a new way to promote your business that won`t cost you more money.
        h3.c-design__subtitle Custom Design designers
        .c-design__description If you are looking for a new way to promote your business that won`t cost you more money.
      .c-design__image-block
        img.c-design__image(src="./assets/images/svg/design.svg", alt="Image")

