mixin managers()
  .c-managers 
    .container.c-managers__wrapper 
      .c-managers__image-block 
        img.c-managers__image(src="./assets/images/svg/managers.svg", alt="Image")
      .c-managers__text-block 
        .c-design__subject Easier decision making for
        h2.c-design__title Product Managers
        .c-design__description The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
        .c-design__items 
          +itemBlock({src: './assets/images/icons/tick.svg', text: 'Never worry about overpaying for your energy again.' })
          +itemBlock({src: './assets/images/icons/tick.svg', text: 'We will only switch you to energy companies that we trust and will treat you right' })
          +itemBlock({src: './assets/images/icons/tick.svg', text: 'We track the markets daily and know where the savings are.' })


        
    