mixin marketers()
  .c-marketers   
    .container.c-marketers__wrapper
      .c-marketers__text-block
        .c-marketers__subject Effortless Validation for
        h2.c-marketers__title marketers Professionals
        .c-marketers__description The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person. 
        h3.c-marketers__subtitle Accessory makers
        .c-marketers__description While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun.
        h3.c-marketers__subtitle Alterationists
        .c-marketers__description If you are looking for a new way to promote your business that won`t cost you more money.
        h3.c-marketers__subtitle Custom marketers marketersers
        .c-marketers__description If you are looking for a new way to promote your business that won`t cost you more money.
      .c-marketers__image-block
        img.c-marketers__image(src="./assets/images/svg/marketers.svg", alt="Image")
