mixin superpowers() 
  .c-superpowers
    .container.c-superpowers__wrapper 
      h1.c-superpowers__title We design tools to unveil your superpowers
      .c-superpowers__items
        +card({src: './assets/images/icons/icon-1.svg', title: 'First click tests', text: 'While most people enjoy casino gambling.'})
        +card({src: './assets/images/icons/icon-2.svg', title: 'Design surveys', text: 'Sports betting, lottery and bingo playing for the fun.'})
        +card({src: './assets/images/icons/icon-3.svg', title: 'Preference tests', text: 'The Myspace page defines the individual.'})
        +card({src: './assets/images/icons/icon-4.svg', title: 'Five second tests', text: 'Personal choices and the overall personality of the person.'})
      .c-superpowers__button 
        +button({text: 'Sing up now', class: 'e-button--start e-button--now'})
        