.e-button {
  background-color: $c-vampire-black;
  border-radius: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: em(18);
  cursor: pointer;
  padding: 0 30px;
  color: $c-white;
  height: 45px;
}
