.c-about-me {
  background-color: $c-cultured;
  padding: 100px 0;
  text-align: center;
  &__title {
    font-weight: 700;
    font-size: em(34);
  }
  &__block {
    max-width: 490px;
    margin: 0 auto;
  }
  &__description {
    line-height: 25px;
    font-size: em(18);
    margin-top: 30px;
  }
}
