.c-skills {
  text-align: center;
  padding: 100px 0;
  &__title {
    font-size: em(34);
    font-weight: 700;
  }
  &__desc {
    font-size: em(18);
    margin-top: 30px;
  }
  &__cards-box {
    justify-content: space-between;
    margin-top: 80px;
    display: flex;
  }
}
