mixin f-registration()
  form.c-form.c-form--registration(method="get" action="#")
    .c-form__wrapper
      .c-form__title.c-form__title--registration Create an Account
      .c-form__block
        label.c-form__label.h-right-m
          .c-form__description First Name
            span.h-red *
          +input('text')(name="firstName" required placeholder="Denis")
        label.c-form__label
          .c-form__description Last Name
            span.h-red *
          +input('text')(name="lastName" required placeholder="Novik")
      .c-form__block
        label.c-form__label
          .c-form__description Email
            span.h-red *
          +input('email')(name="email" required placeholder="denis_novik123@gmail.com")
          .c-form__explanation.c-form__explanation--email We'll never share your email with anyone else.
      .c-form__block.c-form__block--radio 
        label.c-form__label.c-form__label--radio
          +input(type="radio")(checked name="gender" value="Male" class="e-input--radio")
          .c-form__radio 
            .c-form__circle-white
          .c-form__description Male
        label.c-form__label.c-form__label--radio 
          +input(type="radio")(name="gender" value="Female" class="e-input--radio")
          .c-form__radio 
            .c-form__circle-white
          .c-form__description Female
      .c-form__block
        label.c-form__label.h-right-m
          .c-form__description Country
          .c-form__select-box
            +select(['Select','Ukraine','Poland','USA','China'])(name="country")
            svg.icon.icon-select
              use(xlink:href='#icon-select')
        label.c-form__label
          .c-form__description City
          +input('text')(name="city" placeholder="Lviv")
      .c-form__block
        +button('submit', '', 'Sing Up')
      .c-form__block 
        .c-form__explanation.c-form__explanation--last By clicking the 'Sign Up' button, you confirm that you accept our 
          +link('', 'Terms of Use ')
          | and 
          +link('', 'Privacy Policy')
          |.
      .c-form__block.c-form__block--last
        .c-form__description.c-form__description--last Have an account?
          +link('', ' Log In')(class="e-link--bold")





