* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: $fs-base + px;
  font-family: $ff-base;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}
.container {
  @include maxCentered(1100, 20);
}
.app {
  background-color: $c-anti-flash-white;
  height: 100vh;
  @include media ("<=desktop") {
    height: auto;
  }
}
.h-right-m {
  margin-right: 10px;
}
.h-red {
  color: $c-red;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-select {
  color: $c-spanish-gray;
  position: absolute;
  right: 10px;
}
.icon-photo-camera {
  transform: translateY(-50%);
  position: absolute;
  color: $c-silver;
  font-size: 12px;
  right: 10px;
  top: 50%;
}
.icon-trash {
  color: $c-silver;
  font-size: 12px;
}
