* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  text-align: center;
  background: #4a4f56;
  color: #ff8984;
  width: 100%;
  height: 82px;
}
.header-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.header-text {
  font-size: 16px;
  line-height: 19px;
}
.header-wrapper {
  padding-top: 20px;
}
.section-form {
  background-color: #3b3f45;
  width: 100%;
  height: 425px;
}
.form-block {
  display: table;
  margin: 0 auto;
}
.wrapper-labels {
  border: 1px solid red;
  width: 535px;
  font-size: 18px;
  line-height: 21px;
}
.wrapper-checkbox {
  width: 100%;
  height: 270px;
  margin: 20px 0 45px 0;
}
.checkbox-item {
  width: 535px;
  height: 45px;
  display: flex;
  background-color: #88839e;
}
/* Кожен другий елемент іншого кольору */
.checkbox-item:nth-child(even) {
  background-color: #7a7593;
}
/* Відцентрував */
.checkbox-item label {
  display: block;
  margin: auto 0;
}
/* Видалив стандартий значок type="checkbox" 
Зайшов такий спосіб в інтернеті, але не до кінця розібрався як він працює.*/
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
/* Створив білий квадратик для Checkbox */
.check-style {
  position: absolute;
  margin-left: 12px;
  width: 19px;
  height: 19px;
  background-color: white;
}
/* Додав галочку до Checkbox */
.check-box:checked + .check-style::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(./../images/check.png) no-repeat;
  position: absolute;
  top: 4px;
  left: 3px;
}
.checkbox-item:hover {
  background-color: #625e77;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.checkbox-item:active {
  background-color: #ff8984;
}
.check-box:checked ~ .item,
.check-box:checked ~ .item::after {
  color: #9b96ac;
  text-decoration: line-through;
}

/* Стилізую текст */
.input-text {
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
}
.item::after {
  color: #fff;
  font-size: 11px;
  padding-left: 5px;
}
.item-first::after {
  content: "(for the next lessons about CSS)";
}
.item-second::after {
  content: "(for more CSS manipulations)";
}
.item-third::after {
  content: "(because they are awesome)";
}
.item-fourth::after {
  content: "(hm... they always dissapear)";
}
.item-sixth::after {
  content: "(for my friends)";
}

/* Кнопка */
.button-in-form {
  cursor: pointer;
  width: 535px;
  height: 45px;
  background-color: #4a4f56;
  border: none;
}
.button-in-form span {
  color: #ff8984;
  font-size: 18px;
  line-height: 21px;
}
