* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}
body {
  /* В завдані Trebuchet шрифт, в макеті Roboto */
  /* font-family: "Roboto", sans-serif; */
  font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
}
img {
  width: 100%;
}
.header {
  text-align: center;
  background: #4a4f56;
  color: #ff8984;
  width: 100%;
  height: 82px;
}
.header-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.header-text {
  font-size: 16px;
  line-height: 19px;
}
.header-wrapper {
  padding-top: 20px;
}
/* Стилі для секції з  формою */
.section-form {
  background-color: #3b3f45;
  width: 100%;
  height: 425px;
}
.form-block {
  display: table;
  margin: 0 auto;
}
.wrapper-labels {
  border: 1px solid red;
  width: 535px;
  font-size: 18px;
  line-height: 21px;
}
.wrapper-checkbox {
  width: 100%;
  height: 270px;
  margin: 20px 0 45px 0;
}
.checkbox-item {
  width: 535px;
  height: 45px;
  background-color: #88839e;
  display: flex;
}
/* Кожен другий елемент іншого кольору */
.checkbox-item:nth-child(even) {
  background-color: #7a7593;
}
/* Відцентрував */
.checkbox-item label {
  display: block;
  margin: auto 0;
  cursor: pointer;
}

/* Видалив стандартий значок type="checkbox" 
Зайшов такий спосіб в інтернеті, але не до кінця розібрався як він працює.*/
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
/* Створив білий квадратик для Checkbox */
.check-style {
  position: absolute;
  margin-left: 12px;
  width: 19px;
  height: 19px;
  background-color: white;
}

/* Додав галочку до Checkbox */
.check-box:checked + .check-style::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(./../images/check.png) no-repeat;
  position: absolute;
  top: 4px;
  left: 3px;
}
/* Коли Checked колір тексту міняється */
.check-box:checked ~ .item-span::after,
.check-box:checked ~ .silver-text {
  color: #9b96ac;
}
/* Дії */
.checkbox-item:hover {
  background-color: #625e77;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.checkbox-item:active {
  background-color: #ff8984;
}
.check-box:checked {
  color: #9b96ac;
}
/* Головний текст */
.input-text {
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
  display: flex;
}

.item-span::after {
  color: #fff;
  font-size: 11px;
  margin: auto 0;
  padding-left: 5px;
}
/* Додав менший текст за допомогою ::after */
.item-first::after {
  content: "(for the next lessons about CSS)";
}
.item-second::after {
  content: "(for more CSS manipulations)";
}
.item-third::after {
  content: "(because they are awesome)";
}
.item-fourth::after {
  content: "(hm... they always dissapear)";
}
.item-sixth::after {
  content: "(for my friends)";
}

/* Кнопка */
.button-in-form {
  cursor: pointer;
  width: 535px;
  height: 45px;
  background-color: #4a4f56;
  border: none;
}
.button-in-form span {
  color: #ff8984;
  font-size: 18px;
  line-height: 21px;
}
/* Стилі до другого завдання */
.extra-task {
  margin-top: 100px;
}
.title-extra {
  text-align: center;
}
.link-task ul li a {
  text-decoration: none;
  color: #0a1b1f;
  font-size: 23px;
  padding-left: 20px;
}
.img-box {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.img-box img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.link-game {
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 700;
  display: block;
  margin: 50px;
}
.footer {
  width: 100%;
  text-align: center;
  color: aliceblue;
  background-color: #0a1b1f;
  padding: 30px 0;
  margin-top: 20px;
}
