* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  text-align: center;
  background: #4a4f56;
  color: #FF8984;
  position: absolute;
  width: 100%;
  height: 82px;
  left: 0px;
  top: 0px;
}
.header-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.header-text {
  font-size: 16px;
  line-height: 19px;
}
.header-wrapper {
  padding-top: 20px;
}
.section-form {
  background-color: #3B3F45;
  width: 100%;
  height: 510px;
}
