:root {
  --white-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b81ac;
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
}
.content-table {
  background-color: #3399cc;
  max-width: 800px;
  height: 520px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-weather {
  width: 536px;
  height: 326px;
  background-color: var(--white-color);
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
  letter-spacing: 0.05em;
  padding: 16px 0 18px 0;
  text-align: center;
  cursor: pointer;
  border: solid var(--white-color);
}
.f-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.s-text {
  font-size: 18px;
  line-height: 21px;
  display: block;
  padding-top: 4px;
}
.fr-line .item-f {
  width: 100%;
}
.f-line .item-f,
.th-line .item-s {
  width: 50%;
}
.s-line .item-f,
.s-line .item-s,
.s-line .item-th,
.s-line .item-fr,
.f-line .item-s,
.f-line .item-th,
.th-line .item-f,
.th-line .item-th {
  width: 25%;
}
.f-line .item-f {
  background-color: #3399cc;
  border-width: 3px 3px 0 3px;
}
.f-line .item-s {
  background-color: #33cccc;
  border-width: 3px 3px 0 0;
}
.f-line .item-th {
  background-color: #996699;
  border-width: 3px 3px 0 0;
}
.s-line .item-f {
  background-color: #c24747;
  border-width: 3px 3px 0 3px;
}
.s-line .item-s {
  background-color: #e2674a;
  border-width: 3px 3px 0 0;
}
.s-line .item-th {
  background-color: #ffcc66;
  border-width: 3px 3px 0 0;
}
.s-line .item-fr {
  background-color: #99cc99;
  border-width: 3px 3px 0 0;
}
.th-line .item-f {
  background-color: #669999;
  border-width: 3px 3px 0 3px;
}
.th-line .item-s {
  background-color: #cc6699;
  border-width: 3px 3px 0 0;
}
.th-line .item-th {
  background-color: #339966;
  border-width: 3px 3px 0 0;
}
.fr-line .item-f {
  background-color: #666699;
  border-width: 3px 3px 3px 3px;
}
/* Наведення */
.table-weather:hover li:not(li:hover) {
  opacity: 0.5;
}
