:root {
  --color-black: #070707;
  --color-silver: #828282;
  --color-light-silver: #f6f6f6;
  --color-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  padding: 5px;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 42px;
  max-width: 1024px;
}
.h-title {
  font-size: 34px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
}
/* Header */
.c-header {
  padding-top: 20px;
}
.c-navigation {
  padding-bottom: 30px;
  border-bottom: 1px solid #828282;
  box-shadow: 0 5px 5px -7px rgba(0, 0, 0, 0.5);
}
.c-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-navigation__item {
  margin-right: 40px;
}
.c-navigation__item:last-child {
  margin-right: 0;
}
.c-navigation__link {
  color: var(--color-silver);
  text-shadow: 0 5px 5px rgba(182, 182, 182, 0.5);
}
.c-navigation__link--black {
  color: var(--color-black);
}
/* Info section */
.c-info {
  padding-top: 30px;
  padding-bottom: 100px;
}
.c-info__title {
  font-size: 48px;
  line-height: 64px;
  font-weight: bold;
}
.c-info__image-box {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 943px;
  max-height: 388px;
}
/* About me section */
.c-about-me {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-light-silver);
}
.c-about-me__subject {
  margin-top: 30px;
}
/* Skills */
.c-skills {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 75px;
}
.c-skills__subtitle {
  margin-top: 40px;
}
.c-skills__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: space-between;
}
.c-card {
  width: 100%;
  max-width: 168px;
  padding-top: 10px;
}
.c-card__image-box {
  margin: 0 auto;
  max-width: 90px;
  max-height: 90px;
}
.c-card__subtitle {
  height: 28px;
  margin: 0 auto;
  max-width: 80px;
  font-size: 14px;
  margin-top: 24px;
  line-height: 17px;
  color: var(--color-silver);
}
.c-card__stars {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.c-card__star-box {
  max-width: 26px;
  max-height: 26px;
}
/* Portfolio section */
.c-portfolio {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: var(--color-light-silver);
}
.c-portfolio__image-box {
  margin: 0 auto;
  max-width: 935px;
  max-height: 520px;
  margin-top: 100px;
}
.c-portfolio__description {
  margin-top: 15px;
  text-align: center;
}
.c-portfolio__link {
  color: var(--color-black);
  text-decoration: underline;
}
/* Footer */
.c-footer {
  padding-top: 100px;
  padding-bottom: 160px;
}
.c-footer__subtitle {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 275px;
  text-align: center;
}
.c-footer__button-box {
  margin-top: 80px;
  text-align: center;
}
.e-button {
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  max-width: 180px;
  max-height: 40px;
  padding: 10px 5px;
  border-style: none;
  border-radius: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
}
.c-footer__social-link {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 340px;
  justify-content: space-between;
}
.c-footer__link {
  padding: 0;
  display: block;
  max-height: 40px;
}
.c-footer__image-box {
  max-width: 40px;
  max-height: 40px;
}
.c-footer__description {
  margin-top: 45px;
  text-align: center;
  color: var(--color-silver);
}