:root {
  --color-gray: #545454;
  --color-black: #1C1C1C;
  --color-silver: #969696;
  --color-light-blue: #007BFF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
button {
  border-style: none;
}